@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(33, 37, 41);
  --foreground-color: rgba(222, 226, 230);
  --accent-color: rgba(108, 117, 124);
  --destructive-color: rgba(239, 68, 68);
}

body {
  background-color: var(--primary-color);
}
