@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: rgba(52, 52, 52);
  --foreground-color: rgba(243, 243, 243);
  --accent-color: rgba(142, 139, 130);
  --destructive-color: rgba(239, 68, 68);
}

body {
  background-color: var(--primary-color);
}
